/iosBuild
/EscaPeaSF_1/Assets/Eternal Temple
/EscaPeaSF_1/Assets/EternalTemple
/EscaPeaSF_1/Assets/ImportedPackages
EscaPeaSF_1/Library/PlayerDataCache/iOS2
EscaPeaSF_1/Library/PlayerDataCache/.DS_Store
EscaPeaSF_1/Library/PlayerDataCache/iOS2/DataBuildDirtyInfo.json
EscaPeaSF_1/Library/PlayerDataCache/iOS2/ScriptsOnlyCache.yaml
/EscaPeaSF/Video And Photos/
Video And Photos/phone recording/
Video And Photos/glasses recording/
Video And Photos/MyVoice/
Video And Photos/
